html{
    @include tablet {
        font-size: 15px;
    }
    @include mobile {
        font-size: 14px;
    }
}


body{
    font-family: "Inter", "Pretendard", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans KR", sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    line-height: 1.6;
    word-break: keep-all;
    transition: background-color 0.4s, color 0.4s;
    //overflow-x: hidden;

    @include pc {
        cursor: none;
        
        a, button{
            cursor: none;
        }
    }

    &[data-theme="light"] {
        @include theme($light-theme);
    }

    &[data-theme="dark"] {
        @include theme($dark-theme);
    }
}

:root{
    --grid-margin: 2.5rem; //40
    --grid-spacing: 12.5rem; //200

    @include tablet {
        --grid-margin: 1.3333rem; //20
        --grid-spacing: 6.6667rem; //100
    }
    @include mobile {
        --grid-margin: 1.0714rem; //15
        --grid-spacing: 5.7143rem; //80
    }
}

::selection {
    background: rgba(135, 135, 135, .35);
    color:#fff;
}

.sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    clip-path: polygon(0 0, 0 0, 0 0);
    white-space: nowrap;
}

.scroll-lock {
    height: 100%;
    min-height: 100%;
    overflow: hidden;
    //touch-action: none;
}

.pc-only{
    @include tablet {
        display: none;
    }
}

.tb-only{
    display: none;
    @include tablet {
        display: block;
    }
    @include mobile {
        display: none;
    }
}

.tb-show{
    display: none;
    @include tablet {
        display: block;
    }
}

.mo-only{
    display: none;
    @include mobile {
        display: block;
    }
}

.skip-menu {
    position: relative;
	z-index: 1000;

    &__link {
        position: absolute;
        top: -3.125rem;
        left: 50%;
        transform: translateX(-50%);
        background-color: $color-black;
        border: 1px solid rgba(255,255,255,0.2);
        text-align: center;
        padding: 0.625rem 1.25rem;
        font-size: 1rem;
        color: $color-white;
        border-radius: 4px;

        &:focus {
            top: 1.25rem;
        }
    }
}
.cursor-wrap{
    opacity: 0;
    
    .cursor{
        position: fixed;
        top: 0;
        left: 0;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        z-index: 9999;
        pointer-events: none;
        width: 8px;
        height: 8px;
        background-color: $color-red;
        transition: width 0.3s, height 0.3s;

        span {
            display: none;
            white-space: nowrap;
        }

        &.active {
            width: 80px;
            height: 80px;
            background-color: $color-white;
            mix-blend-mode: difference;
        }
        
        &.active-focus{
            display: flex;
            align-items: center;
            justify-content: center;
            width:140px;
            height:140px;
            backdrop-filter: blur(10px);
            color: $color-white;
            overflow: hidden;

            span{
                display: inline-block;
                text-transform: uppercase;
            }

            &.visit{
                background-color: rgba(0,0,0,0.2);

                span{
                    display: inline-block;
                    flex-shrink: 0;
                    padding: 0 0.5rem;
                    text-transform: uppercase;
                    animation: marqueeTextFull 2s infinite linear;
                }
            }

            &.more {
                transition: width 0.3s, height 0.3s, background-color 0.3s;
            }
        }

        &-follow{
            position: fixed;
            top: 0;
            left: 0;
            transform: translate(-50%, -50%);
            border-radius: 50%;
            z-index: 9999;
            pointer-events: none;
            width: 50px;
            height: 50px;
            background-color: initial;
            border: 1px solid $color-white;
            mix-blend-mode: difference;
            transition: transform 0.15s ease-out;

            &.active{
                display: none;
            }
        }
    }
}

.sticky{
    position: sticky;
    top: 0;
    width: 100%;
    height: 100vh;
}

.quick-link{
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 999;
    --circle-size: 70px;

    @include tablet {
        bottom: 1.5rem;
        right: 1.5rem;
        --circle-size: 55px;
    }

    @include mobile {
        bottom: 1.2rem;
        right: 1.2rem;
        --circle-size: 45px;
    }

    &__item{
        position: relative;
        background-color: var(--line-color);
        border-radius: 50%;
        width: var(--circle-size);
        height: var(--circle-size);
        backdrop-filter: blur(20px);
        margin-top: 10px;

        &:hover{
            .quick-link__text{
                opacity: 1;
                transform: translateX(0);
            }
        }

        a, button{
            display: block;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &__icon{
        font-size: 1.5rem;
        line-height: 1;
        padding-bottom: 5px;
    }

    &__text{
        position: absolute;
        right: calc(var(--circle-size) + 10px);
        white-space: nowrap;
        background-color: var(--text-color);
        color: var(--bg-color);
        border-radius: 50px;
        padding: 5px 15px;
        opacity: 0;
        transform: translateX(10px);
        transition: opacity 0.5s, transform 0.5s;
    }
}
  