*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

input, button, textarea, select {
    font: inherit;
    color: inherit;
    background: none;
    border: none;
    outline: none;

    // 키보드 포커스 시에만 outline 표시
    &:focus-visible{
        outline: 2px solid $color-red;
    }

    // 마우스/터치 등 비키보드 포커스에선 outline 제거
    &:focus(:focus-visible){
        outline:none;
    }
}

img, picture, video, canvas, svg {
    //display: block;
    max-width: 100%;
    height: auto;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;

    &:focus-visible{
        outline: 2px solid $color-red;
    }
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

[disabled] {
    cursor: not-allowed;
    opacity: 0.6;
}