// Break Point
$laptop: 1280px;
$tablet: 1024px;
$mobile: 767px;
$mobile480: 480px;

// Color
$color-white:#fff;
$color-black:#000;
$color-dark-gray:#121212;
$color-dark-white:#eaeaea;
$color-primary: #c4ff23;

// Font
$font-en: "Marcellus", serif;
$font-ko: "pretendard", sans-serif;
