// Break Point
$laptop: 1280px;
$tablet: 1024px;
$mobile: 767px;
$mobile480: 480px;

// Color
$color-white:#fff;
$color-black:#000;
$color-darkgray:#1c1c1c;
$color-gray:#ebebeb;
$color-lightgray:#fafafa;
$color-primary: #c4ff23;

// Font
$font-sans-serif: "pretendard", sans-serif;
$font-serif: "Instrument Serif", serif;

// Vendor Prefix
$set-prefix: '-moz-', '-webkit-', '';
