
// Reveal Btn
.reveal-btn{
    position: relative;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    span {
        display: block;
        @include Prefix(transition,transform .55s cubic-bezier(.25,1,.33,1));

        &::after{
            bottom: -120%;
            content: attr(data-text);
            left: 0;
            position: absolute;
        }
    }
    &:hover span{
        transform: translateY(-100%);
        &:after{
            transform: translateY(-20%);
        }
    }
}

