@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

input, button, textarea, select {
  font: inherit;
  color: inherit;
  background: none;
  border: none;
  outline: none;
}
input:focus-visible, button:focus-visible, textarea:focus-visible, select:focus-visible {
  outline: 2px solid #F84D35;
}
input:focus(:focus-visible), button:focus(:focus-visible), textarea:focus(:focus-visible), select:focus(:focus-visible) {
  outline: none;
}

button {
  cursor: pointer;
}

img, picture, video, canvas, svg {
  max-width: 100%;
  height: auto;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
a:focus-visible {
  outline: 2px solid #F84D35;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

[disabled] {
  cursor: not-allowed;
  opacity: 0.6;
}

/* Font */
@font-face {
  font-family: "NyghtSerif";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/NyghtSerif-Regular.woff") format("woff");
  src: url("../fonts/NyghtSerif-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "NyghtSerif";
  font-weight: 400;
  font-style: italic;
  src: url("../fonts/NyghtSerif-RegularItalic.woff") format("woff");
  src: url("../fonts/NyghtSerif-RegularItalic.woff2") format("woff2");
}
@media (max-width: 1024px) {
  html {
    font-size: 15px;
  }
}
@media (max-width: 767px) {
  html {
    font-size: 14px;
  }
}

body {
  font-family: "Inter", "pretendard", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  line-height: 1.6;
  word-break: keep-all;
  -webkit-transition: background-color 0.4s, color 0.4s;
  transition: background-color 0.4s, color 0.4s;
}
@media (min-width: 1024px) {
  body {
    cursor: none;
  }
  body a, body button {
    cursor: none;
  }
}
body[data-theme=light] {
  --bg-color: #e2e1df;
  --text-color: #000000;
  --line-color: rgba(0, 0, 0, 0.2);
}
body[data-theme=dark] {
  --bg-color: #000000;
  --text-color: #ffffff;
  --line-color: rgba(255, 255, 255, 0.2);
}

:root {
  --grid-margin: 2.5rem;
  --grid-spacing: 12.5rem;
}
@media (max-width: 1024px) {
  :root {
    --grid-margin: 1.3333rem;
    --grid-spacing: 6.6667rem;
  }
}
@media (max-width: 767px) {
  :root {
    --grid-margin: 1.0714rem;
    --grid-spacing: 5.7143rem;
  }
}

::-moz-selection {
  background: rgba(135, 135, 135, 0.35);
  color: #fff;
}

::selection {
  background: rgba(135, 135, 135, 0.35);
  color: #fff;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  -webkit-clip-path: polygon(0 0, 0 0, 0 0);
          clip-path: polygon(0 0, 0 0, 0 0);
  white-space: nowrap;
}

.scroll-lock {
  height: 100%;
  min-height: 100%;
  overflow: hidden;
}

@media (max-width: 1024px) {
  .pc-only {
    display: none;
  }
}

.tb-only {
  display: none;
}
@media (max-width: 1024px) {
  .tb-only {
    display: block;
  }
}
@media (max-width: 767px) {
  .tb-only {
    display: none;
  }
}

.tb-show {
  display: none;
}
@media (max-width: 1024px) {
  .tb-show {
    display: block;
  }
}

.mo-only {
  display: none;
}
@media (max-width: 767px) {
  .mo-only {
    display: block;
  }
}

.skip-menu {
  position: relative;
  z-index: 1000;
}
.skip-menu__link {
  position: absolute;
  top: -3.125rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #000000;
  border: 1px solid rgba(255, 255, 255, 0.2);
  text-align: center;
  padding: 0.625rem 1.25rem;
  font-size: 1rem;
  color: #ffffff;
  border-radius: 4px;
}
.skip-menu__link:focus {
  top: 1.25rem;
}

.cursor-wrap {
  opacity: 0;
}
.cursor-wrap .cursor {
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 9999;
  pointer-events: none;
  width: 8px;
  height: 8px;
  background-color: #F84D35;
  -webkit-transition: width 0.3s, height 0.3s;
  transition: width 0.3s, height 0.3s;
}
.cursor-wrap .cursor span {
  display: none;
  white-space: nowrap;
}
.cursor-wrap .cursor.active {
  width: 80px;
  height: 80px;
  background-color: #ffffff;
  mix-blend-mode: difference;
}
.cursor-wrap .cursor.active-focus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 140px;
  height: 140px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  color: #ffffff;
  overflow: hidden;
}
.cursor-wrap .cursor.active-focus span {
  display: inline-block;
  text-transform: uppercase;
}
.cursor-wrap .cursor.active-focus.visit {
  background-color: rgba(0, 0, 0, 0.2);
}
.cursor-wrap .cursor.active-focus.visit span {
  display: inline-block;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 0 0.5rem;
  text-transform: uppercase;
  -webkit-animation: marqueeTextFull 2s infinite linear;
          animation: marqueeTextFull 2s infinite linear;
}
.cursor-wrap .cursor.active-focus.more {
  -webkit-transition: width 0.3s, height 0.3s, background-color 0.3s;
  transition: width 0.3s, height 0.3s, background-color 0.3s;
}
.cursor-wrap .cursor-follow {
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 9999;
  pointer-events: none;
  width: 50px;
  height: 50px;
  background-color: initial;
  border: 1px solid #ffffff;
  mix-blend-mode: difference;
  -webkit-transition: -webkit-transform 0.15s ease-out;
  transition: -webkit-transform 0.15s ease-out;
  transition: transform 0.15s ease-out;
  transition: transform 0.15s ease-out, -webkit-transform 0.15s ease-out;
}
.cursor-wrap .cursor-follow.active {
  display: none;
}

.sticky {
  position: sticky;
  top: 0;
  width: 100%;
  height: 100vh;
}

@-webkit-keyframes marqueeText {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-50%, 0, 0);
            transform: translate3d(-50%, 0, 0);
  }
}

@keyframes marqueeText {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-50%, 0, 0);
            transform: translate3d(-50%, 0, 0);
  }
}
@-webkit-keyframes marqueeTextFull {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
}
@keyframes marqueeTextFull {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
}
@-webkit-keyframes scrollDown {
  0% {
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
    opacity: 0;
  }
}
@keyframes scrollDown {
  0% {
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
    opacity: 0;
  }
}
.marquee {
  overflow: hidden;
}
.marquee__track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -webkit-animation-name: marqueeText;
          animation-name: marqueeText;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  will-change: transform;
}
.marquee__track--half {
  -webkit-animation-name: marqueeTextHalf;
          animation-name: marqueeTextHalf;
}
.marquee__track--reverse {
  animation-direction: reverse;
}
.marquee__track ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.marquee__track ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.marquee__track span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@keyframes scrollDown {
  0% {
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
    opacity: 0;
  }
}
/* Header */
.header {
  position: relative;
}
.header__inner {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr minmax(0, auto);
  padding: 2rem var(--grid-margin) 0;
  gap: 5vw;
  color: #ffffff;
  mix-blend-mode: difference;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}
@media (max-width: 1024px) {
  .header__inner {
    grid-template-columns: 1fr minmax(0, auto) 1fr;
    padding-top: 1rem;
  }
}
.header__main {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
@media (max-width: 1024px) {
  .header__main {
    border-top: none;
  }
}
.header__logo {
  font-size: 1.125rem;
  line-height: 1;
  font-weight: 500;
  letter-spacing: normal;
  width: 25%;
}
@media (max-width: 767px) {
  .header__logo {
    font-size: 1rem;
  }
}
.header .gnb {
  width: 75%;
}
.header .gnb__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header .gnb__item {
  line-height: 1;
  text-transform: uppercase;
}
.header__action {
  justify-self: flex-end;
}

.theme-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #ffffff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  -webkit-transition: background-color 0.3s ease, -webkit-transform 0.3s ease;
  transition: background-color 0.3s ease, -webkit-transform 0.3s ease;
  transition: background-color 0.3s ease, transform 0.3s ease;
  transition: background-color 0.3s ease, transform 0.3s ease, -webkit-transform 0.3s ease;
}
@media (max-width: 1024px) {
  .theme-toggle {
    width: 45px;
    height: 45px;
  }
}
@media (max-width: 767px) {
  .theme-toggle {
    width: 40px;
    height: 40px;
  }
}
.theme-toggle:hover {
  -webkit-transform: rotate(20deg) scale(1.1);
          transform: rotate(20deg) scale(1.1);
}
.theme-toggle__icon {
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  width: 28px;
}
@media (max-width: 1024px) {
  .theme-toggle__icon {
    width: 25px;
  }
}
@media (max-width: 767px) {
  .theme-toggle__icon {
    width: 20px;
  }
}
.theme-toggle__icon path {
  stroke: #ffffff;
}

.gnb-toggle {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  cursor: pointer;
}
@media (min-width: 1024px) {
  .gnb-toggle {
    display: none;
  }
}
.gnb-toggle__label {
  display: inline-block;
  font-size: 14px;
  line-height: 1;
  padding-right: 6px;
}
@media (max-width: 767px) {
  .gnb-toggle__label {
    font-size: 12px;
  }
}
.gnb-toggle__icon {
  position: relative;
  width: 15px;
  height: 15px;
}
.gnb-toggle__bar {
  position: absolute;
  top: 3px;
  left: 0;
  background: #ffffff;
  width: 100%;
  height: 2px;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.gnb-toggle__bar:nth-child(2) {
  top: 8px;
}
.gnb-toggle.active .gnb-toggle__bar:nth-child(1) {
  -webkit-transform: translateY(2.5px) translateX(0) rotate(45deg);
          transform: translateY(2.5px) translateX(0) rotate(45deg);
}
.gnb-toggle.active .gnb-toggle__bar:nth-child(2) {
  -webkit-transform: translateY(-2.5px) translateX(0) rotate(-45deg);
          transform: translateY(-2.5px) translateX(0) rotate(-45deg);
}

.gnb-mobile {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 0;
  overflow: hidden;
  z-index: 998;
}
.gnb-mobile__inner {
  color: #ffffff;
  width: 100%;
  background-color: #F84D35;
  padding: 6rem var(--grid-margin) 4rem;
  text-align: center;
  border-bottom: 1px solid var(--line-color);
}
@media (max-width: 767px) {
  .gnb-mobile__inner {
    padding-top: 4.5rem;
    padding-bottom: 3.2rem;
  }
}
.gnb-mobile__item {
  font-size: 2.2rem;
  font-weight: 500;
  padding: 10px 0;
  overflow: hidden;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .gnb-mobile__item {
    font-size: 1.8rem;
  }
}
.gnb-mobile__item a {
  display: inline-block;
}
.gnb-mobile__contact-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 3rem;
  font-size: 1.13rem;
  margin-top: 2.5rem;
}
@media (max-width: 767px) {
  .gnb-mobile__contact-list {
    font-size: 1rem;
    margin-top: 2rem;
  }
}

.footer {
  position: relative;
  margin: 0 var(--grid-margin);
  padding-top: 5rem;
  font-size: 1.125rem;
  border-top: 1px solid var(--line-color);
}
@media (max-width: 1280px) {
  .footer {
    font-size: 1rem;
  }
}
@media (max-width: 767px) {
  .footer {
    padding-top: 40px;
  }
}
.footer__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer__heading .footer__title {
  font-size: 9vw;
  font-weight: 600;
  line-height: 1.1;
}
@media (max-width: 767px) {
  .footer__heading .footer__title {
    font-size: 10vw;
  }
}
.footer__heading .footer__title-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}
.footer__heading .footer__title-row span {
  display: inline-block;
}
.footer__heading .footer__title-row:first-child span:first-child {
  font-family: "NyghtSerif", serif;
  font-weight: 400;
}
.footer__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  margin-top: 1rem;
  padding-bottom: 6rem;
}
@media (max-width: 1024px) {
  .footer__content {
    margin-top: 4rem;
  }
}
@media (max-width: 767px) {
  .footer__content {
    margin-top: 2.5rem;
    padding-bottom: 5rem;
  }
}
.footer__col:first-child {
  width: 35%;
}
@media (max-width: 1024px) {
  .footer__col:first-child {
    width: 60%;
  }
}
@media (max-width: 1024px) {
  .footer__col:first-child {
    width: 75%;
  }
}
.footer__contact-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
  line-height: 1;
  padding: 6px 0;
}
.footer__contact-item strong {
  font-size: 1.125rem;
  font-weight: 500;
}
@media (max-width: 1280px) {
  .footer__contact-item strong {
    font-size: 1rem;
  }
}
.footer__contact-item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}
.footer__copyright {
  display: block;
  font-size: 1rem;
  margin-top: 5rem;
}
@media (max-width: 1024px) {
  .footer__copyright {
    margin-top: 3.75rem;
  }
}
.footer__text {
  color: #a0a0a0;
  opacity: 0.8;
  font-size: 1rem;
}
@media (max-width: 1280px) {
  .footer__text {
    font-size: 0.9rem;
  }
}
@media (max-width: 767px) {
  .footer__text {
    font-size: 0.8571rem;
  }
}
.footer__deco {
  width: 10%;
}
.footer__deco img, .footer__deco svg {
  display: block;
}
@media (max-width: 1024px) {
  .footer__deco {
    width: 15%;
  }
}

.top-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 7px;
  margin-bottom: 2.5rem;
  font-size: 1rem;
}
.top-btn svg {
  animation: scrollDown ease 1.6s infinite reverse;
}

/* Main */
.sec [class$=__inner] {
  max-width: 1240px;
  margin: 0 auto;
}
.sec [class$=title] {
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
.sec [class$=__title] {
  line-height: 1;
  overflow: hidden;
}
.sec [class$=__title] span {
  display: inline-block;
}
.sec [class$=__title] span:first-child {
  font-family: "NyghtSerif", serif;
  font-weight: 400;
  margin-top: 1%;
}
.sec [class$=__text] {
  text-align: justify;
  font-weight: 300;
  letter-spacing: 0.05em;
}

.hero {
  position: relative;
}
.hero__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding: 100px var(--grid-margin) 0;
  min-height: calc(100vh + 80px);
}
@media (max-width: 1024px) {
  .hero__content {
    min-height: calc(100vh + 75px);
  }
}
@media (max-width: 767px) {
  .hero__content {
    min-height: calc(100vh + 115px);
  }
}
.hero__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 13.4vw;
}
@media (max-width: 1024px) {
  .hero__title {
    font-size: 20vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.hero__row--top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.875rem;
  opacity: 0;
}
.hero__row--top .hero__intro {
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 80%;
  max-width: 730px;
}
.hero__row--top .hero__intro .hero__img-wrap {
  margin-top: 2.5rem;
  overflow: hidden;
}
.hero__row--btm {
  max-width: 550px;
  width: 90%;
}
.hero__row--btm svg {
  width: 120px;
  margin-bottom: 1.875rem;
}
@media (max-width: 1024px) {
  .hero__row--btm svg {
    width: 100px;
  }
}
@media (max-width: 767px) {
  .hero__row--btm svg {
    width: 75px;
  }
}
.hero__bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.hero__bg img {
  display: none;
}

/* Project 공통 */
[class$=project] [class$=project__item-desc] {
  line-height: 1.3;
  opacity: 0.7;
  font-size: 0.9375rem;
}

.project {
  padding-top: calc(var(--grid-spacing) / 2);
}
.project__title {
  font-size: 7.5vw;
  padding: 0 var(--grid-margin);
}
@media (max-width: 1024px) {
  .project__title {
    font-size: 13vw;
  }
}
.project__list {
  padding: calc(var(--grid-spacing) / 2) var(--grid-margin) var(--grid-spacing);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  row-gap: calc(var(--grid-spacing) / 2);
  border-top: 1px solid var(--line-color);
  border-bottom: 1px solid var(--line-color);
  margin-top: calc(var(--grid-spacing) / 2);
  counter-reset: number;
  background-color: #0a0a0a;
}
@media (max-width: 767px) {
  .project__list {
    grid-template-columns: repeat(1, 1fr);
  }
}
.project__item {
  position: relative;
}
.project__item:before {
  content: "0" counter(number) "";
  counter-increment: number;
  font-size: 0.95rem;
}
.project__item-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.8rem;
}
.project__item-text-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 85%;
}
.project__item-text-box .project__item-title {
  font-size: 1.625rem;
}
@media (max-width: 1280px) {
  .project__item-text-box .project__item-title {
    font-size: 1.3rem;
  }
}
@media (max-width: 767px) {
  .project__item-text-box .project__item-title {
    font-size: 1.2rem;
  }
}
.project__item-text-box .project__item-desc {
  text-align: right;
  line-height: 1.3;
  opacity: 0.7;
  font-size: 0.9375rem;
}
@media (max-width: 1024px) {
  .project__item-text-box .project__item-desc {
    max-width: 150px;
  }
}
.project__item-text-box .project__item-desc span {
  display: block;
}
.project__item-img-box {
  height: 26.5625vw;
  overflow: hidden;
}
.project__item-img-box--lg {
  height: 34.375vw;
}
@media (max-width: 767px) {
  .project__item-img-box {
    height: 300px;
  }
}
.project__item-img-box img {
  width: 100%;
  height: 120%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-filter: blur(0);
          filter: blur(0);
}
.project__item-link {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  right: 0;
  bottom: 0;
  opacity: 0.9;
}
@media (max-width: 1024px) {
  .project__item-link {
    width: 80px;
    height: 80px;
  }
}
.project__item-link:before {
  content: "";
  display: block;
  border: 2px solid var(--text-color);
  border-bottom: none;
  border-left: none;
  position: absolute;
  width: 22px;
  height: 22px;
  right: 0;
  bottom: 12px;
}
@media (max-width: 1024px) {
  .project__item-link:before {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    bottom: 32px;
  }
}
.project__item-link:after {
  content: "";
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  position: absolute;
  display: block;
  border-top: 2px solid var(--text-color);
  width: 32px;
  height: 32px;
  bottom: -5px;
  right: -15px;
}
@media (max-width: 1024px) {
  .project__item-link:after {
    -webkit-transform: rotate(-45deg) scale(0.7);
            transform: rotate(-45deg) scale(0.7);
    bottom: 19px;
    right: -12px;
  }
}
.project__item-modal-open {
  position: absolute;
  z-index: 999;
  top: calc(50% - 40px);
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 15px 55px;
  line-height: 1;
  white-space: nowrap;
  border: 1px solid rgba(255, 255, 255, 0.9);
  color: #ffffff;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  opacity: 0;
  -webkit-transition: opacity 0.5s, background-color 0.5s;
  transition: opacity 0.5s, background-color 0.5s;
}
.project__item-modal-open:hover {
  background-color: var(--text-color);
  color: var(--bg-color);
  border: none;
}
.project__item-modal-open:focus-visible {
  opacity: 1;
}
.project__item:hover .project__item-modal-open {
  opacity: 1;
}

.sub-project__marquee {
  font-size: 6vw;
}
@media (max-width: 1024px) {
  .sub-project__marquee {
    font-size: 10vw;
  }
}
.sub-project__marquee-track {
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
  gap: 40px;
}
.sub-project__marquee-track > span {
  text-transform: uppercase;
  line-height: 1;
  gap: 30px;
}
.sub-project__marquee-track > span:before {
  content: "·";
}
.sub-project__marquee-track > span span {
  font-family: "NyghtSerif", serif;
  font-style: italic;
  margin-top: 5px;
}
.sub-project__content {
  padding: var(--grid-spacing) var(--grid-margin);
}
.sub-project__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}
@media (max-width: 1024px) {
  .sub-project__list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 767px) {
  .sub-project__list {
    grid-template-columns: repeat(1, 1fr);
  }
}
.sub-project__item {
  position: relative;
}
.sub-project__item-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2.5rem 1.5rem 1.5rem;
  gap: 1.5rem;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.08);
  border: 1px solid var(--line-color);
  -webkit-transition: background-color 0.4s ease;
  transition: background-color 0.4s ease;
}
@media (max-width: 767px) {
  .sub-project__item-content {
    padding: 30px 20px 20px;
    gap: 1.3rem;
  }
}
.sub-project__item-text-box {
  position: relative;
}
.sub-project__item-text-box .sub-project__item-title {
  font-size: 1.5rem;
}
@media (max-width: 1280px) {
  .sub-project__item-text-box .sub-project__item-title {
    font-size: 1.3rem;
  }
}
@media (max-width: 767px) {
  .sub-project__item-text-box .sub-project__item-title {
    font-size: 1.2rem;
  }
}
.sub-project__item-text-box .sub-project__item-desc {
  margin-top: 10px;
}
@media (max-width: 767px) {
  .sub-project__item-text-box .sub-project__item-desc {
    margin-top: 5px;
  }
}
.sub-project__item-text-box .sub-project__item-modal-open {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 99;
}
.sub-project__item-text-box .sub-project__item-modal-open svg {
  display: block;
}
@media (max-width: 1024px) {
  .sub-project__item-text-box .sub-project__item-modal-open svg {
    width: 24px;
  }
}
@media (max-width: 767px) {
  .sub-project__item-text-box .sub-project__item-modal-open svg {
    width: 18px;
  }
}
.sub-project__item-img-box {
  overflow: hidden;
  height: 26.0416666667vw;
}
@media (max-width: 1024px) {
  .sub-project__item-img-box {
    height: 320px;
  }
}
.sub-project__item-img-box img {
  width: 100%;
  height: 120%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-transform 0.2s ease-out;
  transition: -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
  will-change: transform;
}
.sub-project__item-link {
  display: block;
  width: 100%;
  height: 100%;
}
.sub-project__item-link:focus-visible {
  border: 2px solid #F84D35;
}
.sub-project__text {
  margin-top: 2.5rem;
  font-size: 1.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media (max-width: 1280px) {
  .sub-project__text {
    font-size: 1rem;
  }
}
@media (max-width: 767px) {
  .sub-project__text {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

[data-theme=light] .project__list {
  background-color: #ececec;
}
[data-theme=light] .sub-project__item-content {
  background-color: rgba(255, 255, 255, 0.6);
}

/* project modal */
.project-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1000;
}
.project-modal__content {
  width: 80%;
  height: 80%;
  display: grid;
  grid-template-columns: calc(40% - 20px) calc(60% - 20px);
  gap: 2.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffffff;
  color: #000000;
  padding: 3.125rem;
  overflow-y: auto;
}
@media (max-width: 1024px) {
  .project-modal__content {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 767px) {
  .project-modal__content {
    padding: 3rem 2rem;
  }
}
.project-modal__close {
  position: absolute;
  top: calc(10% + 1.5rem);
  right: calc(10% + 1.5rem);
  stroke: #ffffff;
  background-color: #000000;
  padding: 1.375rem;
  border-radius: 50%;
  z-index: 1;
}
@media (max-width: 767px) {
  .project-modal__close {
    padding: 1rem;
    top: calc(10% + 1rem);
    right: calc(10% + 1rem);
  }
}
.project-modal__close svg {
  display: block;
}
@media (max-width: 1024px) {
  .project-modal__close svg {
    width: 20px;
  }
}
@media (max-width: 1024px) {
  .project-modal__close svg {
    width: 14px;
  }
}
@media (max-width: 1024px) {
  .project-modal__text-box {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}
@media (max-width: 1024px) {
  .project-modal__img-box {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}
.project-modal__title {
  font-size: 1.875rem;
  line-height: 1.3;
  font-weight: 600;
  margin-bottom: 0.8rem;
}
@media (max-width: 1024px) {
  .project-modal__title {
    font-size: 1.7rem;
  }
}
@media (max-width: 767px) {
  .project-modal__title {
    font-size: 1.5rem;
  }
}
.project-modal__img-box .project-modal__img--border {
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.project-modal__meta, .project-modal__stack {
  opacity: 0.7;
}
.project-modal__desc {
  margin-top: 1.2rem;
}
.project-modal__links {
  margin-top: 1.2rem;
  font-size: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 5px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}
@media (max-width: 767px) {
  .project-modal__links {
    gap: 0;
    max-width: 280px;
  }
}
.project-modal__link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  padding: 0.9rem 1.5rem;
  border: 1px solid rgba(0, 0, 0, 0.7);
  line-height: 1;
  font-size: 1rem;
  white-space: nowrap;
  -webkit-transition: color 0.3s ease, border 0.4s ease;
  transition: color 0.3s ease, border 0.4s ease;
  overflow: hidden;
  margin-top: 0.8rem;
}
.project-modal__link:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1rem;
  height: 1rem;
  background-color: #F84D35;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
  z-index: -1;
}
.project-modal__link:before {
  content: "";
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-position: left center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: -webkit-filter 0.4s ease;
  transition: -webkit-filter 0.4s ease;
  transition: filter 0.4s ease;
  transition: filter 0.4s ease, -webkit-filter 0.4s ease;
}
.project-modal__link--site:before {
  background-image: url(../images/icon-link.webp);
}
.project-modal__link--github:before {
  background-image: url(../images/icon-github.webp);
}
.project-modal__link--review:before {
  background-image: url(../images/icon-notion.webp);
}
.project-modal__link:hover {
  color: #ffffff;
  border: 1px solid #F84D35;
}
.project-modal__link:hover:after {
  -webkit-transform: translate(-50%, -50%) scale(20);
          transform: translate(-50%, -50%) scale(20);
}
.project-modal__link:hover:before {
  -webkit-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1);
}
@media (max-width: 767px) {
  .project-modal__link {
    width: calc(50% - 10px);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 10px;
    padding-left: 0;
    padding-right: 0;
  }
  .project-modal__link:last-child {
    width: 100%;
  }
}

/* Side */
.side-project {
  padding-top: calc(var(--grid-spacing) / 2);
  padding-bottom: var(--grid-spacing);
  margin: 0 var(--grid-margin);
}
.side-project__title {
  font-size: 7vw;
}
@media (max-width: 1024px) {
  .side-project__title {
    font-size: 10vw;
  }
}
.side-project__list {
  padding-top: 50px;
  counter-reset: number;
}
@media (max-width: 1024px) {
  .side-project__list {
    padding-top: 35px;
  }
}
.side-project__item a {
  display: grid;
  grid-template-columns: 2fr 4fr 6fr;
  gap: 1.25rem;
  padding: 80px var(--grid-margin);
  border-top: 1px solid var(--line-color);
}
@media (max-width: 1024px) {
  .side-project__item a {
    grid-template-columns: 1fr;
    padding-top: 40px;
    padding-bottom: 50px;
  }
}
@media (max-width: 767px) {
  .side-project__item a {
    gap: 1rem;
  }
}
.side-project__item a:before {
  content: "(0" counter(number) ")";
  counter-increment: number;
}
.side-project__item-title {
  font-size: 1.5rem;
}
@media (max-width: 1024px) {
  .side-project__item-title {
    font-size: 1.3rem;
  }
}
.side-project__item-text {
  text-align: justify;
  font-weight: 300;
  letter-spacing: 0.05em;
  max-width: 800px;
}
.side-project__item-badge {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  margin-top: 15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.side-project__item-badge-item {
  opacity: 0.8;
  background-color: var(--line-color);
  padding: 5px 15px;
  border-radius: 50px;
  font-size: 0.95rem;
}
.side-project__cursor {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 500px;
  height: 280px;
  overflow: hidden;
  pointer-events: none;
}
.side-project__cursor-img {
  width: 100%;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.5s;
  transition: height 0.5s;
}
.side-project__cursor-img.active {
  height: 100%;
}

.about {
  padding: var(--grid-spacing) 0;
  margin: 0 var(--grid-margin);
  border-top: 1px solid var(--line-color);
}
.about__title {
  font-size: 7vw;
}
@media (max-width: 1024px) {
  .about__title {
    font-size: 13vw;
  }
}
.about__text {
  max-width: 800px;
  width: 80%;
  margin-top: 1.5rem;
}
@media (max-width: 767px) {
  .about__text {
    width: 100%;
  }
}
.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 5rem;
  gap: 3.75rem;
}
@media (max-width: 767px) {
  .about__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.about__skill-label {
  font-size: 1.125rem;
  text-decoration: underline;
  line-height: 1;
  font-weight: 400;
  text-transform: uppercase;
}
.about__skill-list-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3.75rem;
}
@media (max-width: 767px) {
  .about__skill-list-wrap {
    gap: 2rem;
  }
}
.about__skill-list {
  margin-top: 0.5rem;
}
.about__skill-item {
  font-weight: 300;
}