/* Main */
.sec {
  [class$="__inner"] {
    max-width: 1240px;
    margin: 0 auto;
  }

  [class$="title"] {
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: -0.02em;
    text-transform: uppercase;
  }

  [class$="__title"] {
    line-height: 1;
    overflow: hidden;

    span {
      display: inline-block;

      &:first-child {
        font-family: $font-serif;
        font-weight: 400;
        margin-top: 1%;
      }
    }
  }

  [class$="__text"] {
    text-align: justify;
    font-weight: 300;
    letter-spacing: 0.05em;
  }
}

.hero {
  position: relative;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 100px var(--grid-margin) 0;
    min-height: calc(100vh + 80px);

    @include tablet {
      min-height: calc(100vh + 75px);
    }

    @include mobile {
      min-height: calc(100vh + 115px);
    }
  }

  &__title {
    display: flex;
    justify-content: space-between;
    font-size: 13.4vw;

    @include tablet {
      font-size: 20vw;
      flex-direction: column;
    }
  }

  &__row {
    &--top {
      display: flex;
      flex-direction: column;
      gap: 1.875rem;
      opacity: 0;

      .hero__intro {
        align-self: flex-end;
        width: 80%;
        max-width: 730px;

        .hero__img-wrap {
          margin-top: 2.5rem;
          overflow: hidden;
        }
      }
    }

    &--btm {
      max-width: 550px;
      width: 90%;

      svg {
        width: 120px;
        margin-bottom: 1.875rem;

        @include tablet {
          width: 100px;
        }

        @include mobile {
          width: 75px;
        }
      }
    }
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    img {
      display: none;
    }
  }
}

/* Project 공통 */
[class$="project"] {
  [class$="project__item-desc"] {
    line-height: 1.3;
    opacity: 0.7;
    font-size: 0.9375rem;
  }
}

.project {
  padding-top: calc(var(--grid-spacing) / 2);

  &__title {
    font-size: 7.5vw;
    padding: 0 var(--grid-margin);

    @include tablet {
      font-size: 13vw;
    }
  }

  &__list {
    padding: calc(var(--grid-spacing) / 2) var(--grid-margin) var(--grid-spacing);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: flex-start;
    column-gap: 15px;
    row-gap: calc(var(--grid-spacing) / 2);
    border-top: 1px solid var(--line-color);
    border-bottom: 1px solid var(--line-color);
    margin-top: calc(var(--grid-spacing) / 2);
    counter-reset: number;
    background-color: #0a0a0a; // Dark

    @include mobile {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__item {
    position: relative;

    &:before {
      content: "0" counter(number) "";
      counter-increment: number;
      font-size: 0.95rem;
    }

    &-content {
      display: flex;
      flex-direction: column;
      gap: 0.8rem;
    }

    &-text-box {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      max-width: 85%;

      .project__item-title {
        font-size: 1.625rem;

        @include laptop {
          font-size: 1.3rem;
        }

        @include mobile {
          font-size: 1.2rem;
        }
      }

      .project__item-desc {
        text-align: right;
        line-height: 1.3;
        opacity: 0.7;
        font-size: 0.9375rem;

        @include tablet {
          max-width: 150px;
        }

        span {
          display: block;
        }
      }
    }

    &-img-box {
      height: calc(510 / 1920 * 100vw);
      overflow: hidden;

      &--lg {
        height: calc(660 / 1920 * 100vw);
      }

      @include mobile {
        height: 300px;
      }

      img {
        width: 100%;
        height: 120%;
        object-fit: cover;
        transform: scale(1);
        filter: blur(0);
      }
    }

    &-link {
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      right: 0;
      bottom: 0;
      opacity: 0.9;

      @include tablet {
        width:80px;
        height:80px;
      }

      &:before {
        content: "";
        display: block;
        border: 2px solid var(--text-color);
        border-bottom: none;
        border-left: none;
        position: absolute;
        width: 22px;
        height: 22px;
        right: 0;
        bottom: 12px;

        @include tablet{
          transform: scale(0.7);
          bottom: 32px;
        }
      }

      &:after {
        content: "";
        transform: rotate(-45deg);
        position: absolute;
        display: block;
        border-top: 2px solid var(--text-color);
        width: 32px;
        height: 32px;
        bottom: -5px;
        right: -15px;

        @include tablet {
          transform: rotate(-45deg) scale(0.7);
          bottom: 19px;
          right: -12px;
        }
      }
    }

    &-modal-open{
      position: absolute;
      z-index: 999;
      top: calc(50% - 40px);
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 15px 55px;
      line-height: 1;
      white-space: nowrap;
      border: 1px solid rgba(255,255,255,0.9);
      color: $color-white;
      backdrop-filter: blur(5px);
      opacity: 0;
      transition: opacity 0.5s, background-color 0.5s;

      &:hover{
        background-color: var(--text-color);
        color: var(--bg-color);
        border: none;
      }

      &:focus-visible {
        opacity: 1;
      }
    }

    &:hover{
      .project__item-modal-open{
        opacity: 1;
      }
    }
  }
  
}

.sub-project {
  &__marquee {
    font-size: 6vw;

    @include tablet {
      font-size: 10vw;
    }

    &-track {
      animation-duration: 15s;
      gap: 40px;

      > span {
        text-transform: uppercase;
        line-height: 1;
        gap: 30px;

        &:before {
          content: "·";
        }

        span {
          font-family: $font-serif;
          font-style: italic;
          margin-top: 5px;
        }
      }
    }
  }

  &__content {
    padding: var(--grid-spacing) var(--grid-margin);
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;

    @include tablet {
      grid-template-columns: repeat(2, 1fr);
    }

    @include mobile {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__item {
    position: relative;

    &-content {
      position: relative;
      display: flex;
      flex-direction: column;
      padding: 2.5rem 1.5rem 1.5rem;
      gap: 1.5rem;
      border-radius: 5px;
      background-color: rgba(255, 255, 255, 0.08); // Dark
      border: 1px solid var(--line-color);
      transition: background-color 0.4s ease;

      @include mobile {
        padding: 30px 20px 20px;
        gap: 1.3rem;
      }
    }

    &-text-box {
      position: relative;

      .sub-project__item-title {
        font-size: 1.5rem;

        @include laptop {
          font-size: 1.3rem;
        }

        @include mobile {
          font-size: 1.2rem;
        }
      }

      .sub-project__item-desc {
        margin-top: 10px;

        @include mobile {
          margin-top: 5px;
        }
      }

      .sub-project__item-modal-open {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 99;

        svg {
          display: block;
    
          @include tablet {
            width: 24px;
          }
    
          @include mobile {
            width: 18px;
          }
        }
      }
    }

    &-img-box {
      overflow: hidden;
      height: calc(500 / 1920 * 100vw);

      @include tablet {
        height: 320px;
      }

      img {
        width: 100%;
        height: 120%;
        object-fit: cover;
        transition: transform 0.2s ease-out;
        will-change: transform;
      }
    }

    &-link {
      display: block;
      width: 100%;
      height: 100%;
  
      &:focus-visible {
        border: 2px solid $color-red;
      }
    }
  }

  &__text {
    margin-top: 2.5rem;
    font-size: 1.125rem;
    display: flex;
    justify-content: flex-end;

    @include laptop {
      font-size: 1rem;
    }

    @include mobile {
      justify-content: center;
    }
  }
}

[data-theme="light"] {
  .project__list {
    //background-color: rgba(255,255,255,0.4);
    background-color: #ececec;
  }

  .sub-project__item-content {
    background-color: rgba(255, 255, 255, 0.6);
  }
}

/* project modal */
.project-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  &__content {
    width: 80%;
    height: 80%;
    display: grid;
    grid-template-columns: calc(40% - 20px) calc(60% - 20px);
    gap: 2.5rem;
    align-items: center;
    background: $color-white;
    color: $color-black;
    padding: 3.125rem;
    overflow-y: auto;

    @include tablet {
      grid-template-columns: 1fr;
    }

    @include mobile{
      padding: 3rem 2rem;
    }
  }

  &__close{
    position: absolute;
    top: calc(10% + 1.5rem);
    right: calc(10% + 1.5rem);
    stroke: $color-white;
    background-color: $color-black;
    padding: 1.375rem;
    border-radius: 50%;
    z-index: 1;

    @include mobile {
      padding: 1rem;
      top: calc(10% + 1rem);
      right: calc(10% + 1rem);
    }

    svg {
      display: block;

      @include tablet {
        width: 20px;
      }

      @include tablet {
        width: 14px;
      }
    }
  }

  &__text-box{
    @include tablet {
      align-self: flex-end;
    }
  }

  &__img-box{
    @include tablet {
      align-self: flex-start;
    }
  }

  &__title {
    font-size: 1.875rem;
    line-height: 1.3;
    font-weight: 600;
    margin-bottom: 0.8rem;

    @include tablet {
      font-size: 1.7rem;
    }

    @include mobile {
      font-size: 1.5rem;
    }
  }

  &__img-box {
    .project-modal__img {
      &--border {
        border: 1px solid rgba(0, 0, 0, 0.2);
      }
    }
  }

  &__meta,
  &__stack {
    opacity: 0.7;
  }

  &__desc {
    margin-top: 1.2rem;
  }

  &__links {
    margin-top: 1.2rem;
    font-size: 0;
    display: inline-flex;
    gap: 5px;
    flex-wrap: wrap;
    width: 100%;

    @include mobile {
      gap: 0;
      max-width: 280px;
    }
  }

  &__link {
    @include fillBtn;
    margin-top: .8rem;

    @include mobile {
      width: calc(50% - 10px);
      justify-content: center;
      margin-right: 10px;

      &:last-child{
        width: 100%;
      }
    }
  }
}

/* Side */
.side-project {
  padding-top: calc(var(--grid-spacing) / 2);
  padding-bottom: var(--grid-spacing);
  margin: 0 var(--grid-margin);

  &__title {
    font-size: 7vw;

    @include tablet {
      font-size: 10vw;
    }
  }

  &__list {
    padding-top: 50px;
    counter-reset: number;

    @include tablet {
      padding-top: 35px;
    }
  }

  &__item {
    a {
      display: grid;
      grid-template-columns: 2fr 4fr 6fr;
      gap: 1.25rem;
      padding: 80px var(--grid-margin);
      border-top: 1px solid var(--line-color);

      @include tablet {
        grid-template-columns: 1fr;
        padding-top: 40px;
        padding-bottom: 50px;
      }

      @include mobile {
        gap: 1rem;
      }

      &:before {
        content: "(0" counter(number) ")";
        counter-increment: number;
      }
    }

    &-title {
      font-size: 1.5rem;

      @include tablet {
        font-size: 1.3rem;
      }
    }

    &-text {
      text-align: justify;
      font-weight: 300;
      letter-spacing: 0.05em;
      max-width: 800px;
    }

    &-badge {
      display: flex;
      gap: 8px;
      margin-top: 15px;
      flex-wrap: wrap;

      &-item {
        opacity: 0.8;
        background-color: var(--line-color);
        padding: 5px 15px;
        border-radius: 50px;
        font-size: 0.95rem;
      }
    }
  }

  &__cursor {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 500px;
    height: 280px;
    overflow: hidden;
    pointer-events: none;

    &-img {
      width: 100%;
      height: 0;
      overflow: hidden;
      transition: height 0.5s;

      &.active {
        height: 100%;
      }
    }
  }
}

.about {
  padding: var(--grid-spacing) 0;
  margin: 0 var(--grid-margin);
  border-top: 1px solid var(--line-color);

  &__title {
    font-size: 7vw;

    @include tablet {
      font-size: 13vw;
    }
  }

  &__text {
    max-width: 800px;
    width: 80%;
    margin-top: 1.5rem;

    @include mobile {
      width: 100%;
    }
  }

  &__content {
    display: flex;
    justify-content: flex-end;
    margin-top: 5rem;
    gap: 3.75rem;

    @include mobile {
      flex-direction: column;
    }
  }

  &__skill {
    &-label {
      font-size: 1.125rem;
      text-decoration: underline;
      line-height: 1;
      font-weight: 400;
      text-transform: uppercase;
    }

    &-list-wrap {
      display: flex;
      gap: 3.75rem;

      @include mobile {
        gap: 2rem;
      }
    }

    &-list {
      margin-top: 0.5rem;
    }

    &-item {
      font-weight: 300;
    }
  }
}
